* {
  box-sizing: border-box;
  font-size: 16px;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  border: 1px solid rgba(31,214,96,255);
  background-color: rgba(31,214,96,255);
  max-width: 100vw;
}

nav h1 a {
  font-weight:900;
  display: flex;
  flex-direction: column;
}

nav button {
  background-color: black;
  color: rgba(31,214,96,255);
  border-color: rgba(31,214,96,255);
  border-radius: 8px;
  /* max-width:10vw; */
  width:15vw;
  font-size: small;
}
nav button a {
  font-size: xx-small;
}

.spotifyButton {
  background-color: black;
  color: rgba(31,214,96,255);
  border-color: rgba(31,214,96,255);
  border-radius: 8px;
  max-width:30vw;
  border: 1px solid black;
  background-color: black;
  padding: 5px;
  border-radius: 24px;
  height:9%;
}

button > a {
  text-decoration: none;
  color: rgba(31,214,96,255)
}

.search{
  margin:1vh;
  text-align: center;
}

.search input {
  background-color: black;
  color: rgba(31,214,96,255);
  margin: 0 1vw;
  border-color: black;
  border-radius: 8px;
}

.search button {
  background-color: black;
  color: rgba(31,214,96,255);
  border-color: black;
  border-radius: 8px;
}

::placeholder {
  color: rgba(31,214,96,255)
}

.homepage h1{
  font-size: xx-large;
  margin-top: 2%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 80vw;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh
}

.card {
  border: 2px solid rgba(31,214,96,255);
  background-color: black;
  color: rgba(31,214,96,255);
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 320px;
}
.card img {
  height: 250px;
  width: 250px;
  max-width: 90%;
}

.card h2 {
  margin-top: 1%;
  font-size: larger;
}

.bandBio {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
  background-color: rgba(31,214,96,255);
  gap: 1vh;
  padding-bottom: 1vh;
}

.bandBio  img {
  width: 80%;
  padding-top:1vh 
}

.bandBio h1 {
  font-size: 3rem;
}

.albumBox {
  width: 30%;
  border: 1px solid rgba(31,214,96,255);
  padding: 1vh;
  text-align: center;
  background-color: rgba(31,214,96,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.albumBox h1 {
  font-size: x-large;
}

.albumsContainer {
  margin: 0 auto;
  display: flex;
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
}


.albumTracks {
  background-color: rgba(31,214,96,255);
  border-collapse: collapse;
  padding-left: 10px;
  width: 100vw;
  text-align: center;
  margin: auto;
}

audio {
  width: 20vw;
}

tr {
  border-bottom: 1px solid black;
  padding: 1vh;
}

.albumTracks td {
  margin: 100px
}

nav h1 a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.homepage div{
  margin: 2%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2%
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: 425px) {
  .albumBox {
    width: 70vw
  }

  .audioTag {
    display: none;
  }
}